
    <dvi class ="row" ng-controller="customerController">
        <div class="col-md=12">
            <div class = "panel panel-default">
                <div class ="panel-heading">Добавить клиента</div>
                <div class ="panel-body">
                    <div >
                        <form class="form-horizontal" name="customerForm" ng-submit="submitForm()">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="lastnameID">Введите фамилию:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="lastname" id="lastnameID"
                                           placeholder="Фамилия" ng-model="lastname"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="firstnameID">Введите имя:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="firstname" id="firstnameID"
                                           placeholder="Имя" ng-model="firstname"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="patronymicID">Введите отчество:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="patronymic" id="patronymicID"
                                           placeholder="Отчество" ng-model="patronymic"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="addressID">Введите адрес:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="address" id="addressID"
                                           placeholder="Адрес" ng-model="address"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="button" class="btn btn-default" ng-click="postfunction()">Добавить клиента</button>
                                </div>
                            </div>
                            <div class="col-sm-offset-2 col-sm-10">
                                <p>{{postResultMessage}}</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class = "panel panel-default">
                <div class ="panel-heading">Клиенты банка</div>
                <div class ="panel-body" >
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>имя</th>
                            <th>адрес</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in customers">
                            <td>{{item.name}}</td>
                            <td>{{item.address}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </dvi>
