<dvi class="row">
    <div class="col-md=12">
       <div class="panel panel-default">
            <div class="panel-heading">Добавить клиента</div>
            <div class="panel-body">

                <div>
                    <form class="form-horizontal" name="customerForm" ng-submit="submitForm()">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="lastnameID">Введите фамилию:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="lastname" id="lastnameID"
                                       placeholder="Фамилия" ng-model="customer.lastname" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="firstnameID">Введите имя:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="firstname" id="firstnameID"
                                       placeholder="Имя" ng-model="customer.firstname" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="patronymicID">Введите отчество:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="patronymic" id="patronymicID"
                                       placeholder="Отчество" ng-model="customer.patronymic"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="addressID">Введите адрес:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="address" id="addressID"
                                       placeholder="Адрес" ng-model="customer.address"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-5">
                                <button type="button" id="postButton" class="btn btn-default" ng-click="postfunction()">
                                    Добавить
                                    клиента
                                </button>
                            </div>
                            <label class="control-label col-sm-2" for="postButton">{{postResultMessage}}
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Клиенты банка</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th width="40%">имя</th>
                        <th width="50%">адрес</th>
                        <th width="10%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in customers">
                        <td>{{item.name}}</td>
                        <td>{{item.address}}</td>
                        <td><a href="#/edit-accounts/{{item.id}}" class="btn">&nbsp;<i
                                class="glyphicon glyphicon-edit"></i>&nbsp; Счета клиента</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</dvi>